/* src/styles/NavigationBar.module.css */
.NavigationBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  background-color: white; /* Background color */
  color: rgb(0, 0, 0); /* Text color */
}

.NavLink {
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0); /* Text color */
  text-decoration: none; /* Remove underline */
  padding: 0 10px; /* Adjust spacing as needed */
}

.NavLink .material-symbols-outlined {
  margin-right: 5px; /* Space between icon and text */
  vertical-align: middle; /* Align icons vertically */
  font-size: 20px; /* Adjust icon size as needed */
  line-height: 0; /* Reset line-height for the icon */
  color: royalblue; /* Set the icon color */
}

/* Optional: Add styling for active links */
.NavLink.active {
  font-weight: bold; /* Example of active link styling */
  color: royalblue; /* Example of active link color */
  border-bottom: 2px solid royalblue; /* Add a border to show active state */
}
