@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.App {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(250, 245, 255);
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}